<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

    <aop:aspectj-autoproxy />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:spring.properties</value>
        </property>
    </bean>

    <!-- the error interceptor which takes screenshots when page interactions throw errors -->
    <bean class="com.themoffster.selenium.aop.aspect.ErrorInterceptor" />

    <!-- the driver manager which allows for the browser type to be configured via properties -->
    <bean class="com.themoffster.selenium.model.DriverManager" />

</beans>